[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
chardet = "==2.3.0"
gevent = "==1.2.0"
greenlet = "==0.4.11"
lxml = "==3.7.1"
requests = "==2.12.4"
sqlalchemy = "==1.1.4"
"web.py" = "==0.40-dev1"
redis = "==2.10.5"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
